@charset "UTF-8";

body {
    background-image: url('https://nova-escola-producao.s3.amazonaws.com/mYZZt5wWDjKECrAXhVH8Dd2rFHfazcdX4xaaNjBEEmVm82RSZ5SB9pmHtkfR/bart-writing-on-board.jpg');
    background-color: rgb(162, 175, 247);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

h1 {
    text-align: center;
    font-family: "Madimi One", sans-serif;
    font-size: 40px;
    color: rgb(0, 0, 0); 
}

main {
    background-color: rgb(108, 150, 144); 
    margin: 50px auto; 
    width: 80%; 
    max-width: 800px; 
    height: 650px;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0); 
}

p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
}

p.tit {
    font-size: 22px;
    font-weight: bold; 
}

a {
    text-decoration: underline;
    color: rgb(35, 0, 161); 
}

a:hover {
    color: rgb(35, 0, 161);
    text-decoration: none;
}

h3 {
    color: rgb(147, 180, 86);
    font-size: 22px;
    margin-top: 20px; 
}
